@media only screen and (min-width: 600px) {}

.main {
    display: grid;
}

.nav {
    grid-row: 1;
    grid-column: 1;
    height: 100vh;
    width: 8vw;
    border-right: 1px solid black;
}

.nav .logo {
    height: 10vh;
    width: 8vw;
}

.nav .logo img {
    height: fit-content;
    width: 8vw;
}

.nav .tabs {
    height: 80vh;
    width: 8vw;
}

.nav .bottom {
    height: 10vh;
    width: 8vw;
}

.nav .bottom .button {
    padding: 0;
    margin: 2.4vh 2.75vw 2.4vh 2.75vw;
    outline: none;
    border: none;
    background-color: transparent;
}

.nav .bottom .button img {
    width: 2.5vw;
    height: 4.5vh;
}

.pages {
    grid-row: 1;
    grid-column: 2;
    height: 100vh;
    width: 92vw;
    overflow: scroll;
}